{% extends "layouts/_BASE.html" %}

{% block service %}
    <form>
        {% set details %}
            <p>This includes if it's:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>buying another company</li>
              <li>changing from a sole trader or business partnership to a limited company</li>
            </ul>
            {{ govukDetails({
                summaryText: "What is a sole trader or business partnership?",
                html: "<p>A sole trader is someone who’s self-employed and is the only owner of their business.</p>
                       <p>A business partnership is when two or more people agree to share the profits, costs and risks of running a business.</p>"
            }) }}
        {% endset -%}
        
        {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "changed-name",
        name: "changed-name",
        fieldset: {
          legend: {
            text: "Is the new company replacing another business?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: details
        },
        items: [
          {
            value: "yes~other-business-name",
            text: "Yes"
          },
          {
            value: "no~when-start-business",
            text: "No"
          }
        ]
    }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
    </form>

    <p><a href="">Is this page not working properly?</a></p>
{% endblock %}