{% extends "layouts/_BASE.html" %}

{% block service %}
    <form action="relationship-to-company" method="POST">
        <h1 class="govuk-heading-l">Check and confirm your answers</h1>
        <h2 class="govuk-body-l">Page 1 of 2</h2>

        <h2 class="govuk-heading-m">Applicant</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What is your relationship to the company?"
              },
              value: {
                text: "[replationship]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Company details</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What is the company name?"
              },
              value: {
                text: "[company name]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "What is the company's registered office address?"
              },
              value: {
                html: "72 Guild Street<br>London<br>SE23 6FH"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Where will the company be registered?"
              },
              value: {
                html: 'ENGLAND_AND_WALES'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "Where will the company carry out most of its business activities?"
              },
              value: {
                html: '[Registered Office Address]'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Company contact</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Give us one or more ways to contact Company Name Ltd"
              },
              value: {
                text: "[contact]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Company takeover</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Is the new company replacing another business?"
              },
              value: {
                text: "[yes/no]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Company accounting</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "When will you start doing business?"
              },
              value: {
                text: "[business start date]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "In its first 3 months will the company pay interest on loans, pay royalties, or receive interest or dividend payments from overseas investments?"
              },
              value: {
                text: "[yes/no]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            }
          ]
        }) }}

        <p>Please review the information you have provided and then continue</p>

        {{ govukInsetText({
            text: "Your answers should reflect your current business activities. You'll need to tell HMRC about any changes to your business in the future."
        }) }}

        {{ govukButton({
            text: "Confirm and continue"
        }) }}
    </form>

    <p><a href="">Is this page not working properly?</a></p>
{% endblock %}