{% extends "layouts/_BASE.html" %}

{% block service %}
    <form action="stub-companies-house" method="POST">

        {{ govukRadios({
            idPrefix: "where-do-you-live",
            name: "where-do-you-live",
            fieldset: {
              legend: {
                text: "What is [business owner]'s home address?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
                {
                    value: "14 St Test Walk, Testley, Testford, Testshire, TE1 1ST, UK~when-start-business",
                    text: "14 St Test Walk, Testley, Testford, Testshire, TE1 1ST, UK"
                },
                {
                    value: "A different address",
                    text: "A different address"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
    </form>

    <p><a href="">Is this page not working properly?</a></p>
{% endblock %}