{% extends "layouts/_BASE.html" %}

{% block service %}
    <form action="stub-companies-house-1" method="POST">
        {% set hint %}
            <p>In some situations, a company may need to account for Income Tax. The most common situations are listed below.</p>
            <p>Tell us if the company will:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>pay interest on any non-bank loans, for example to a director who has loaned the company money</li>
                <li>make royalty payments, for example for using someone else's patent</li>
                <li>receive interest or dividend payments from overseas investments</li>
            </ul>
        {% endset -%}

        {% set yes %}
            <p>You may need to report these payments to HM Revenue & Customs (HMRC) using form CT61. After the company is set up, we will send you the form. If you are not sure about what to include on it, speak to an accountant.</p>
        {% endset -%}

        {% set no %}
            <p>To understand when your company may need to account for Income Tax in the future, it is best to speak to an accountant.</p>
        {% endset -%}

        {{ govukRadios({
            idPrefix: "where-do-you-live",
            name: "email-address",
            fieldset: {
              legend: {
                text: "In its first 3 months will the company do any of the following?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
                html: hint
            },
            items: [
                {
                    value: "Yes",
                    text: "Yes",
                    conditional: {
                        html: yes
                    }
                },
                {
                    value: "No",
                    text: "No",
                    conditional: {
                        html: no
                    }
                }
            ]
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}
    </form>

    <p><a href="">Is this page not working properly?</a></p>
{% endblock %}