{% extends "layouts/_BASE.html" %}

{% block service %}
    <form action="payment" method="POST">
        <h1 class="govuk-heading-l">You cannot set up a company with this service</h1>
        <p>To set up a company when one of its directors or secretaries has successfully applied to be on the Companies House secure register, you'll need to use another service.</p>
        
        {{ govukButton({
            text: "Use other service"
        }) }}
    </form>

    <p><a href="">Is this page not working properly?</a></p>
{% endblock %}